body{
    margin: 0;
    padding: 0;
    
}
.bg{
    background:  #4C4C4C;
    position: absolute;
    z-index: -10;
    left: 0px;
    height: 100vh;
    width: 20vw;
    top: 0px;
}
.input{
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
}
.dot {
    position: absolute;
    top: 2vh;
    left: 1vw;
    height: 5vh;
    width: 2.5vw;
    background-color: #85C7F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:  black;
    z-index: -1;
    transition: 0.4s;
  }
.dot:hover{
    background-color: rgb(87, 136, 241);
    transition: 0.2s;
}
.plus{
    position: absolute;
    width: 1.5vw;
    height: 2.5vh;
    margin: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.block{
    position: absolute;
    float: right;
    width: 80vw;
    display: flex;
    height: 100vh;
    top: 0px;
    right: 0px;
    background-color: rgba( 133, 199, 242 0.6);
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 50;
}

.blockback{
    position: relative;
    float: right;
    width: 80vw;
    display: flex;
    height: 100vh;
    top: 0px;
    right: 0px;
    align-items: center;
    justify-content: center;
    background-color: #85C7F2;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 5;
}
.logo {
    height: 500px;
    width: 500px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-items: center;
    opacity: 0.35;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  
}
#PList{
    width: 450px;
    height:450px;
    margin-left: 400px;;
    background-color: black;
}
.dragable{
    top: 20px;
    min-width: 270px;
    margin: 15px;
    width: 270px;
    height: 150px;
    position: relative;
    border-radius: 30px;
    overflow: auto;
    background-color: rgba(	116, 149, 171, 0.8);
    text-align: center;
}

.logo {
    height: 500px;
    width: 500px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    opacity: 0.35;
    z-index: inherit;
}
::-webkit-scrollbar {
    position: absolute;
    height: 1.2vh;
}

::-webkit-scrollbar-thumb {
    background-color: #333333cb;
    border-radius: 6px;
    border: 0.3vh solid #85C7F2;
}

.addtask {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    filter: invert(1);
    z-index: 1000;
}

.taskstyle {
    height: 50px;
    width: 80px;
    background-color: red;
}