body{
    background-color: #4C4C4C;
}
.dot {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 60px;
    width: 60px;
    background-color: #85C7F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:  black;
    z-index: -1;
    transition: 0.2s;
  }
.dot:hover{
    background-color: whitesmoke;
    transition: 0.4s;
}

.plus{
    position: relative;
    width: 35px;
    height: 35px;
    margin: auto;
    filter: invert(1);
}
